*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}

/* HEADER */
nav{
    background: #1bcde0;
    height: 100px;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    line-height: 100px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 100px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

a:hover {
    background: #1fe1f7;
    transition: 0.5s;
}

ul li ul.dropdown li{
    display: block;
    line-height: 50px;
}

ul li ul.dropdown{
    width: auto;
    background: #1bcde0;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #51e1f1;
}

ul li:hover ul.dropdown {
    display: block;
}


/* CONTENT */
.divBody{
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contentBody {
    width: 80%;
    padding: 20px;
    position: relative;
    background-color: transparent;
}

.container {
    padding: 20px;
}






