.floatContainers {
    padding: 20px;
    margin: auto;
    background-color: antiquewhite;
}

.emptyContainer{
    background-color: transparent;
    height: 50px;
}

.footer {
    text-align: center;
}

.social-icons {
    margin:10px auto;
    text-align: center;
}

.social-icons img {
    width: 50px;
    margin:10px auto;
    text-align: center;
    margin-left: 20px;
}
